@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Klaipėdos universitetas</h1>
    
</div>
<a asp-controller="Student" asp-action="Register">REGISTRUOTIS</a>
